<table class="table">
    <thead>
    <tr>
        <th>
            <fo-icon icon="{{::parent}}"></fo-icon>
            {{::parentColumnTitle}}
        </th>
        <th> Characteristics</th>
        <th class="full-width"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in characteristics" class="text-nowrap"
        ng-switch on="characteristicRow.isActive(c.id)"
        ng-class="{edit: characteristicRow.isActive(c.id)}">

        <td ng-hide="characteristicRow.isActive(c.id)"
            ng-click="characteristicRow.show($index)" class="pointer link" title="Click to expand">
            {{ parentValue(c) }}
        </td>
        <td ng-hide="characteristicRow.isActive(c.id)">
            <fo-characteristic-preview
                    characteristic="c"></fo-characteristic-preview>
        </td>
        <td ng-switch-when="true" colspan="2">
            <div class="pointer link" ng-click="characteristicRow.hide($index)"
                 title="Click to collapse">
                {{ parentValue(c) }}
            </div>
            <fo-characteristic-edit characteristic="characteristic"></fo-characteristic-edit>

            <button class="btn btn-default btn-sm" ng-click="saveCharacteristic()" ng-disabled="!isDirty()">
                <fo-icon icon="confirm"></fo-icon>
                Save
            </button>
            <button class="btn btn-default btn-sm" ng-click="resetCharacteristic()">
                <fo-icon icon="cancel"></fo-icon>
                Reset and close
            </button>
            <button class="btn btn-danger btn-sm" ng-click="deleteDialog.show()">
                <fo-icon icon="delete"></fo-icon>
                Delete
            </button>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>