<div class="panel panel-default searchResults">
    <div class="panel-heading">
        <fo-icon icon="description"></fo-icon>
        Karakteristike
    </div>
    <div class="panel-body">
        <div class="list-group">
            <h4>
                <fo-icon icon="habitat"></fo-icon>
                Staništa
            </h4>

            <ul>
                <li ng-repeat="habitat in habitats">
                    <fo-species-characteristics-habitats
                            habitats="habitat.content"></fo-species-characteristics-habitats>
                    <fo-reference-marker reference="reference(habitat.referenceId)"></fo-reference-marker>
                </li>
            </ul>


        </div>
        <div class="list-group">
            <h4>
                <fo-icon icon="substrate"></fo-icon>
                Supstrati
            </h4>
            <ul>
                <li ng-repeat="substrate in substrates">
                    {{::substrate.content}}
                    <fo-reference-marker reference="reference(substrate.referenceId)"></fo-reference-marker>
                </li>
            </ul>

        </div>
    </div>
</div>