<table class="table">
    <tr>
        <th>Habitat</th>
        <th>Subhabitat</th>
        <th>Species</th>
    </tr>
    <tr ng-repeat="h in habitatsInternal">
        <td>
            <a class="pointer"
               editable-select="h.habitat"
               buttons="no"
               e-ng-options="habitat.key as habitat.title for habitat in availableHabitats"
               onbeforesave="updateHabitat(h.id, $data)">
                {{ h.habitat }}
            </a>
            <span class="pointer" ng-click="deleteHabitat($index)">
                <fo-icon icon="delete"></fo-icon>
            </span>
        </td>
        <td>
            <span ng-show="subhabitatsFor(h.habitat).length === 0">
                no subhabitats available
            </span>
            <a class="pointer"
               ng-hide="subhabitatsFor(h.habitat).length === 0"
               buttons="no"
               editable-select="h.subhabitat"
               e-ng-options="subhabitat.key as subhabitat.title for subhabitat in subhabitatsFor(h.habitat)"
               onbeforesave="updateSubhabitat(h.id, $data)">
                {{ h.subhabitat || 'select subhabitat' }}
            </a>
        </td>
        <td>
            <span ng-show="h.availableSpecies.length === 0">
                no species available
            </span>
            <a class="pointer"
               ng-hide="h.availableSpecies.length === 0"
               e-multiple
               e-size="{{h.availableSpecies.length}}"
               editable-select="h.species"
               e-ng-options="species.key as species.value for species in h.availableSpecies"
               onbeforesave="updateSpecies(h.id, $data)">
                {{ displaySpecies(h.species) || '-' }}
            </a>

        </td>
    </tr>
    <tr>
        <td>
            <span class="pointer" ng-hide="editHabitat" ng-click="editHabitat = true">
                <fo-icon icon="add"></fo-icon>
                Add habitat
            </span>
            <select ng-model="newHabitat"
                    ng-options="habitat.key as habitat.title for habitat in availableHabitats"
                    ng-show="editHabitat">
                <option value="" disabled="disabled">Select habitat</option>
            </select>
        </td>
        <td colspan="2"></td>
    </tr>
</table>