<ul class="list-inline">
    <li>
        <a class="btn btn-default btn-sm" ng-href="{{editUrl+'/new'}}">
            <fo-icon icon="add"></fo-icon>
            Create new Species
        </a>
    </li>
    <li>Per Page:
        <select ng-model="params.meta.perPage" ng-options="o as o for o in pageSizeChoices"
                ng-change="getPage(1)"></select></li>
    <li>Sort By:
        <select ng-model="params.sort" ng-options="column.field as column.header for column in params.columns"
                ng-change="getPage(1)"> </select></li>
    <li class="pointer" title="click to change ordering">
        <fo-icon ng-show="params.order === '-'" icon="sortDown" ng-click="changeOrder('')"></fo-icon>
        <fo-icon ng-hide="params.order === '-'" icon="sortUp" ng-click="changeOrder('-')"></fo-icon>
    </li>
</ul>

<table class="table text-nowrap fo-pagination-table">
    <thead>
    <tr>
        <th>{{::params.columns[0].header}}</th>
        <th ng-repeat="column in params.columns">{{::column.header}}</th>
        <th class="full-width">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in params.data" ng-class="{highlight: highlight}" ng-mouseenter="highlight = true"
        ng-mouseleave="highlight = false">
        <td class="link"
            ng-hide="isActive[$index]"
            ng-click="isActive[$index] = true">
            {{::row[params.columns[0].field]}}
        </td>
        <td class="link"
            ng-show="isActive[$index]"
            ng-click="isActive[$index] = false">
            {{::row[params.columns[0].field]}}
            <div class="btn-group-xs">
                <a class="btn btn-xs" ng-href="{{editUrl+'/'+row.id}}">
                    <fo-icon icon="edit"></fo-icon>
                    Edit</a>
                <a class="btn pointer btn-xs" style="color:red;" ng-click="removeRow(row)">
                    <fo-icon icon="remove"></fo-icon>
                    Delete</a>
            </div>
        </td>
        <td ng-repeat="column in columns"> {{::row[column.field]}}</td>

        <td class="full-width">
        </td>
    </tr>
    </tbody>
</table>
<ul class="pagination" ng-hide="params.meta.pageCount === 1">
    <li ng-class="{disabled: params.meta.page === 1}"><a ng-click="previous()">&laquo;</a></li>
    <li ng-repeat="page in pageLinks" ng-class="{active: page === params.meta.page}"><a
            ng-click="getPage(page)">{{page}}</a></li>
    <li ng-class="{disabled: params.meta.page === params.meta.pageCount}"><a ng-click="next()">&raquo;</a></li>
</ul>