<div class="container-fluid" ng-controller="NavigationController as NavCtrl">
    <ul class="nav navbar-left top-nav">
        <li ng-class="{open: NavCtrl.isActiveTab('home')}">
            <a class="navbar-brand" href="/" ng-click="NavCtrl.setActiveTab('home')">Fungiorbis</a>
        </li>
        <li ng-class="{open: NavCtrl.isActiveTab(item.name)}" ng-repeat="item in NavCtrl.items">
            <a href="{{item.name}}" ng-click="NavCtrl.setActiveTab(item.name)"><i class="fa {{item.icon}}"></i>
                {{item.text}}</a>
        </li>
    </ul>


    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown" ng-show="NavCtrl.isLoggedIn">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b
                    class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-fw fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-fw fa-envelope"></i> Support</a></li>
                <!--<li><a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a></li>-->
                <li><a href="#"><i class="fa fa-fw fa-tags"></i> My Specimens</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
            </ul>
        </li>
        <li ng-hide="NavCtrl.isLoggedIn">
            <a href="log_in"><i class="fa fa-sign-in"></i> Log in</a>
        </li>
    </ul>

</div>