<span ng-show="descriptions.length > 0">
    <span ng-repeat="desc in descriptions">
        <fo-icon icon="{{::desc.section.key}}" ng-class="{'icon-alert':desc.localesMissing.length > 0}"></fo-icon>
    </span>
</span>
<span ng-show="characteristic.habitats.length > 0">
    <fo-icon icon="habitat" class="fa fa-fw dimmed"></fo-icon>
    <strong>{{::characteristic.habitats.length}}</strong>
    <span class="dimmed">&nbsp;|&nbsp;</span>
</span>
<span ng-show="characteristic.substrates.length > 0">
    <fo-icon icon="substrate" class="fa fa-fw dimmed"></fo-icon>
    <strong>{{::characteristic.substrates.length}}</strong>
    <span class="dimmed">&nbsp;|&nbsp;</span>
</span>
<span ng-show="showUsability">
    <span ng-repeat="usability in usabilities" ng-show="characteristic[usability]">
        <fo-icon icon="{{::usability}}"></fo-icon>
    </span>
    <span class="dimmed">&nbsp;|&nbsp;</span>
</span>