<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <a ui-sref="dashboard.references">
                <fo-icon icon="backHistory"></fo-icon>
                <fo-icon icon="references"></fo-icon>
            </a>
            {{ reference.authors }}: {{ reference.title }}
        </h1>
    </div>
</div>

<div class="row" ng-hide="true">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-exclamation-triangle"></i> <strong>Error!</strong> Error message text here...
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr ng-repeat="field in referenceCtrl.fields">
                <th class="text-nowrap">{{field.header}}</th>
                <td class="text-nowrap">
                    <a class="pointer" editable-text="reference[field.field]">{{reference[field.field] ||
                        field.placeholder}}</a>
                </td>
                <td class="full-width"></td>
            </tr>
            <tr>
                <th class="text-nowrap">Species characteristics</th>
                <td>{{ reference.characteristics.length }}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <fo-species-typeahead id="speciesId" full-name="speciesFullName"
                              placeholder="To add or edit characteristic type in the species name"></fo-species-typeahead>
    </div>
</div>

<div class="row auto-width" ng-class="{'new-characteristic-box': speciesId}" ng-switch on="speciesId === undefined">
    <div class="col-lg-12 auto-width" ng-switch-when="false">
        <em class="dimmed" ng-show="characteristic.id">Existing record: </em>
        <em class="dimmed" ng-hide="characteristic.id">New record: </em>
        <em class="dimmed">{{ speciesFullName }}</em>

        <fo-characteristic-edit characteristic="characteristic"></fo-characteristic-edit>

        <button class="btn btn-primary" ng-click="referenceCtrl.saveCharacteristic()"
                ng-disabled="!dirty || emptyParams">
            <fo-icon icon="confirm"></fo-icon>
            Save
        </button>
        <button class="btn btn-primary" ng-click="referenceCtrl.reset()">
            <fo-icon icon="cancel"></fo-icon>
            Reset and close
        </button>
    </div>
</div>


<div class="row species-characteristics-row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <fo-icon icon="species"></fo-icon>
                    Species
                </th>
                <th> Characteristics</th>
                <th class="full-width"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in reference.characteristics" class="text-nowrap"
                ng-switch on="referenceCtrl.characteristicRowActive(c.id)"
                ng-class="{edit: referenceCtrl.characteristicRowActive(c.id)}">

                <td ng-hide="referenceCtrl.characteristicRowActive(c.id)"
                    ng-click="referenceCtrl.showCharacteristicRow($index)" class="pointer link" title="Click to expand">
                    {{ c.species.fullName }}
                </td>
                <td ng-hide="referenceCtrl.characteristicRowActive(c.id)">
                    <fo-characteristic-preview
                            characteristic="c"></fo-characteristic-preview>
                </td>
                <td ng-switch-when="true" colspan="2">
                    <div class="pointer link" ng-click="referenceCtrl.hideCharacteristicRow($index)"
                         title="Click to collapse">
                        {{ c.species.fullName }}
                    </div>
                    <fo-characteristic-edit characteristic="characteristic"></fo-characteristic-edit>

                    <button class="btn btn-primary" ng-click="referenceCtrl.saveCharacteristic()" ng-disabled="!dirty">
                        <fo-icon icon="confirm"></fo-icon>
                        Save
                    </button>
                    <button class="btn btn-primary" ng-click="referenceCtrl.reset()">
                        <fo-icon icon="cancel"></fo-icon>
                        Reset and close
                    </button>
                    <button class="btn btn-danger" ng-click="referenceCtrl.referencesModalDelete.show()">
                        <fo-icon icon="delete"></fo-icon>
                        Delete
                    </button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>