<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <a ui-sref="dashboard.species">
                <fo-icon icon="backHistory"></fo-icon>
                <fo-icon icon="species"></fo-icon>
            </a>
            {{ speciesCtrl.pageTitle }}
        </h1>
    </div>
</div>

<div class="row" ng-show="speciesCtrl.missingFields.length > 0 && !speciesCtrl.speciesIsEmpty">
    <div class="col-lg-12">
        <fo-alert type="warning" title="These mandatory fields are missing:">
            {{ speciesCtrl.missingFields.join(', ') }}.
        </fo-alert>
    </div>
</div>

<div class="row" ng-show="speciesCtrl.nameGenusTaken">
    <div class="col-lg-12">
        <fo-alert type="warning" title="Species already exists:">
            <strong>{{speciesCtrl.speciesFullName}}</strong>
            Please input another <strong>name</strong> and <strong>genus</strong>. To edit
            the species instead, please
            <a ui-sref="dashboard.species/detail" speciesId="speciesCtrl.matchingSpeciesId" >test</a>
            <a ng-href="/dashboard/species/{{speciesCtrl.matchingSpeciesId}}">click here</a>.
        </fo-alert>
    </div>
</div>

<div class="row" ng-show="speciesCtrl.readyToSave">
    <div class="col-lg-12">
        <fo-alert type="info" title="All mandatory fields present!">
            Click <strong>Save</strong> button to save the species.
        </fo-alert>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-6">
        <table class="table text-nowrap">
            <caption class="text-left">
                <h4>
                    <fo-icon icon="systematics"></fo-icon>
                    Systematics
                </h4>
            </caption>
            <tr ng-repeat="field in systematics">
                <th>{{field.label}}</th>
                <td>
                    <a class="pointer"
                       editable-text="species[field.field]"
                       onbeforesave="speciesCtrl.updateField(field.field, $data)">
                        {{species[field.field] || 'Not set'}}
                    </a>
                </td>
                <td class="full-width"></td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6 col-md-6">
        <table class="table text-nowrap">
            <caption class="text-left">
                <h4>&nbsp;</h4>
            </caption>
            <tr>
                <th>Synonyms</th>
                <td>
                    <a class="pointer" editable-text="species.synonyms"
                       onbeforesave="speciesCtrl.updateField('synonyms', $data)">{{species.synonyms || 'Not set' }}</a>
                </td>
                <td class="full-width"></td>
            </tr>
            <tr>
                <th>Growth Type</th>
                <td>
                    <a class="pointer"
                       editable-select="species.growthType"
                       buttons="no"
                       onbeforesave="speciesCtrl.updateField('growthType', $data)"
                       e-ng-options="s.value as s.text for s in growthTypes">
                        {{ showGrowthType() }}
                    </a>
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Nutritive Group</th>
                <td>
                    <a class="pointer"
                       onbeforesave="speciesCtrl.updateField('nutritiveGroup', $data)"
                       editable-select="species.nutritiveGroup"
                       buttons="no"
                       e-ng-options="s.value as s.text for s in nutritiveGroups">
                        {{ showNutritiveGroup() }}
                    </a>
                </td>
                <td></td>
            </tr>
        </table>

        <table class="table text-nowrap" ng-show="speciesCtrl.context === 'edit' && missingCharacteristics.length > 0">
            <caption class="text-left icon-alert">
                <h4>
                    <fo-icon icon="missingCharacteristics"></fo-icon>
                    Missing characteristics
                </h4>
            </caption>
            <tr>
                <td colspan="3">
                    <ul>
                        <li ng-repeat="c in missingCharacteristics">{{ c }}</li>
                    </ul>
                </td>
            </tr>
        </table>
        <button class="btn btn-danger"
                ng-click="deleteSpeciesDialog.show()"
                ng-show="speciesCtrl.context === 'edit'">
            <fo-icon icon="delete"></fo-icon>
            Delete the species
        </button>
        <a class="btn btn-default" ng-href="/dashboard/species/new"
                ng-show="speciesCtrl.context === 'edit'">
            <fo-icon icon="add"></fo-icon>
            Add new species
        </a>
        <button class="btn btn-default"
                ng-click="speciesCtrl.createSpecies()"
                ng-disabled="speciesCtrl.missingFields.length > 0 || speciesCtrl.nameGenusTaken"
                ng-show="speciesCtrl.context === 'create'">
            <fo-icon icon="add"></fo-icon>
            Save
        </button>
    </div>
</div>

<div class="row" ng-show="speciesCtrl.context === 'edit'">
    <div class="col-lg-12">
        <fo-typeahead id="referenceId" value="referenceFullTitle"
                      properties="speciesCtrl.typeAheadProperties"></fo-typeahead>
    </div>
</div>


<div class="row auto-width" ng-class="{'new-characteristic-box': referenceId}" ng-switch on="referenceId === undefined">
    <div class="col-lg-12 auto-width" ng-switch-when="false">
        <em class="dimmed" ng-show="characteristic.id">Existing record: </em>
        <em class="dimmed" ng-hide="characteristic.id">New record: </em>
        <em class="dimmed">{{ referenceFullTitle }}</em>

        <fo-characteristic-edit characteristic="characteristic"></fo-characteristic-edit>

        <button class="btn btn-default btn-sm" ng-click="speciesCtrl.saveCharacteristic()"
                ng-disabled="!dirty || emptyParams">
            <fo-icon icon="confirm"></fo-icon>
            Save
        </button>
        <button class="btn btn-default btn-sm" ng-click="speciesCtrl.resetCharacteristic()">
            <fo-icon icon="cancel"></fo-icon>
            Reset and close
        </button>
    </div>
</div>


<div class="row species-characteristics-row" ng-show="species.characteristics.length > 0">
    <div class="col-lg-12">
        <fo-characteristics-table
                parent="references"
                parent-id="referenceId"
                characteristic="characteristic"
                characteristics="species.characteristics"
                characteristic-row="characteristicRow"
                reset-dialog="resetDialog"
                delete-dialog="deleteDialog"
                save-characteristic="speciesCtrl.saveCharacteristic"
                reset="speciesCtrl.reset"></fo-characteristics-table>
    </div>
</div>