<ul class="nav navbar-right top-nav">
    <li class="dropdown" ng-show="isAuthenticated">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa {{::icon('user')}}"></i> {{currentUser.displayName}} <b
                class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-fw {{::icon('user')}}"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-fw {{::icon('support')}}"></i> Support</a></li>
            <!--<li><a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a></li>-->
            <li><a href="#"><i class="fa fa-fw {{::icon('specimens')}}"></i> My Specimens</a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="signOut()"><i class="fa fa-fw {{::icon('signOut')}}"></i> Sign Out</a></li>
        </ul>
    </li>
    <li ng-hide="isAuthenticated || showSignIn">
        <a href="" ng-click="showSignIn = true"><i class="fa {{::icon('signIn')}}"></i> Sign in</a>
    </li>
    <li ng-hide="isAuthenticated || showSignIn">
        <a href=""><i class="fa {{::icon('register')}}"></i> Register</a>
    </li>
    <li ng-hide="isAuthenticated || !showSignIn" class="form-group navbar-form">
        <input class="form-control" type="text" name="email" placeholder="email" ng-model="email"/>
        <input class="form-control" type="password" name="password" placeholder="password"
               ng-model="password"/>
        <button class="btn btn-default fa {{::icon('signIn')}}" ng-click="signIn()"> Sign In</button>
        <button class="btn btn-default fa {{::icon('cancel')}}" ng-click="showSignIn = false"></button>
    </li>
</ul>