<div class="side-nav public">
    <fo-species-search result="result" reset="reset"></fo-species-search>

    <div class="text-center">
        <a class="btn btn-default btn-sm" ng-click="reset()">
            <fo-icon icon="cancel"></fo-icon>
            poništi
        </a>
    </div>
</div>

<div class="container-fluid" ng-if="selectedSpecies">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <fo-icon icon="species"></fo-icon>
                {{ ::selectedSpecies.fullName }}
                <span ng-show="selectedSpecies.synonyms"> ({{::selectedSpecies.synonyms}})</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 dimmed">
            {{ ::systematics(selectedSpecies) }}
        </div>
    </div>

    <div class="row" ng-show="selectedSpecies.nutritiveGroup || selectedSpecies.growthType">
        <div class="col-lg-12 dimmed">
            <span ng-show="selectedSpecies.nutritiveGroup">
                Nutritivna grupa: {{ ::selectedSpecies.nutritiveGroup }}
            </span>
            <span ng-show="selectedSpecies.nutritiveGroup && selectedSpecies.growthType">; </span>
            <span ng-show="selectedSpecies.growthType">
                Način rasta: {{ ::selectedSpecies.growthType }}
            </span>
            <br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <fo-species-description species="selectedSpecies"></fo-species-description>
        </div>
        <div class="col-lg-6">
            <fo-species-characteristics species="selectedSpecies"></fo-species-characteristics>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default searchResults">
                <div class="panel-heading">
                    <fo-icon icon="references"></fo-icon>
                    Reference
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <ul>
                            <li ng-repeat="r in selectedSpecies.references">
                                [{{r.index}}] {{ ::r.value.display }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="selectedSpecies.imageUrl">
        <div class="col-lg-12">
            <div class="panel panel-default searchResults">
                <div class="panel-heading">
                    <fo-icon icon="foto"></fo-icon>
                    {{ ::selectedSpecies.fullName }}
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <img ng-src="{{ ::selectedSpecies.imageUrl }}">
                    </div>
                    <div class="list-group dimmed">
                        <fo-icon icon="copyright"></fo-icon> Dragiša Savić
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" ng-hide="selectedSpecies">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <fo-icon icon="species"></fo-icon>
                Pretraga vrsta
            </h1>
        </div>
    </div>


    <div class="row" ng-show="result.species">
        <div class="col-lg-12">

            <div class="panel panel-default searchResults">
                <div class="panel-heading">
                    <p class="searchParams">{{ result.displayParams }} --> <span class="hits">{{result.totalHits}}</span></p>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="sp in result.species">

                            <a class="pointer" ng-click="selectSpecies(sp)">
                                <div class="speciesName">{{sp.fullName }}
                                    <span ng-show="sp.synonyms"> ({{sp.synonyms}})</span></div>
                            </a>
                            <span ng-repeat="u in result.characteristics[sp.id].usabilities"
                                  title="{{::translateUsability(u)}}"
                                  class="pointer">
                                <fo-icon icon="{{::u}}"></fo-icon>
                            </span>

                            <span ng-repeat="h in result.characteristics[sp.id].habitats"
                                  title="{{::h.title}}"
                                  class="pointer habitat {{::h.key}}">
                                <fo-icon icon="habitat"></fo-icon>
                            </span>

                            <span ng-repeat="s in result.characteristics[sp.id].substrates"
                                  title="{{::s.title}}"
                                  class="pointer">
                                <fo-icon icon="substrate"></fo-icon>
                            </span>

                            <span class="dimmed">{{::result.characteristics[sp.id].nutritiveGroup}}</span>
                            <span ng-show="result.characteristics[sp.id].growthType" class="dimmed">, {{::result.characteristics[sp.id].growthType}}</span>
                            <br><br>

                            <p ng-repeat="(key, s) in result.characteristics[sp.id].sections">
                                <span title="{{::s.title}}"><fo-icon icon="{{::s.key}}"></fo-icon></span>
                                {{ s.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="result.species">
        <div class="col-lg-6">
            <p>
                U bazi gljiva Fungiorbis je opisano ukupno <strong>{{::stats.speciesCount}}</strong> vrsta gljiva. Za
                izlistavanje vrsta gljiva, iz menija sa
                leve strane zadajte parametre za pretragu.
                Rezultat pretrage su sve vrste koje ispunjavaju svaki od zadatih parametara.
            </p>

            <div><strong>Primeri:</strong></div>
            <ol>
                <li>Boletus + jestiva + stelja <p>sve jestive vrste roda Boletus koje rastu na stelji</p></li>
                <li>šuma / listopadna / bukva + panj <p>sve vrste koje rastu u listopadnim bukovim šumama (stanište) na
                    panjevima (supstrat)</p></li>
                <li>jestiva + lekovite <p>sve vrste koje su istovremeno i jestive i lekovite (a ne zbir svih jestivih i
                    svih lekovitih)</p></li>
            </ol>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <fo-icon icon="speciesStatistics"></fo-icon>
                        Broj vrsta po pojedinim kategorijama
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item">
                            <span class="badge">{{::stats.speciesCount}}</span>
                            <fo-icon icon="species"></fo-icon>
                            Broj vrsta
                        </a>
                        <a class="list-group-item">
                            <span class="badge">{{::stats.genusCount}}</span>
                            <fo-icon icon="systematics"></fo-icon>
                            Broj rodova
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">{{::stats.edibleCount}}</span>
                            <fo-icon icon="edible"></fo-icon>
                            Broj jestivih vrsta
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">{{::stats.poisonousCount}}</span>
                            <fo-icon icon="poisonous"></fo-icon>
                            Broj otrovnih vrsta
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">{{::stats.cultivatedCount}}</span>
                            <fo-icon icon="cultivated"></fo-icon>
                            Broj gajenih vrsta
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">{{::stats.medicinalCount}}</span>
                            <fo-icon icon="medicinal"></fo-icon>
                            Broj lekovitih vrsta
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>