.help-text {
    width: 100%;
}

.help-text .help-text-icon {
    float: right;
    margin: 5px;
    cursor: pointer;
    color: #428bca;
}

.help-text p {
    background-color: #e0eaf1;
    padding: 10px;
}